.wordContainer--hide .word {
    display: none;
}
.wordContainer--hide::before {
    content: "<streamer mode>";
    color: #fff;
    font-size: 1vw;
    text-align: center;
}

.streamer-mode__btn {
    position: fixed;
    top: 5px;
    right: 5px;
    opacity: 0.25;

    background: #fff;
    color: #000 !important;
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none !important;
}

.streamer-mode__btn:hover {
    opacity: 1;
}
